name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    # NOTE: Default option does not include `-o pipefail` as documented
    # unless explicitly specifying the `bash` shell.
    # https://github.com/actions/runner/issues/353
    shell: bash

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      matrix:
        os:
          # NOTE: Non-linux systems uses more billable minutes.
          # Enable them only if they are strictly required.
          # - "windows-2022"
          # - "macos-14"
          - "ubuntu-24.04"
        go:
          - "1.21"
          - "1.22"
          - "1.23"

    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: Lint code
        run: |
          make lint

      - name: Validate code
        run: |
          make check

      - name: Run tests
        run: |
          make test
