name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    # NOTE: Default option does not include `-o pipefail` as documented
    # unless explicitly specifying the `bash` shell.
    # https://github.com/actions/runner/issues/353
    shell: bash

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      matrix:
        os:
          # NOTE: Non-linux systems uses more billable minutes.
          # Enable them only if they are strictly required.
          # - "windows-2022"
          # - "macos-14"
          - "ubuntu-24.04"
        go:
          - "1.21"
          - "1.22"
          - "1.23"

    steps:
      - name: Checkout branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go }}

      - name: Lint code
        run: |
          make lint

      - name: Validate code
        run: |
          make check

      - name: Run tests
        run: |
          make test
